body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  height: 10vh;
  line-height: 10vh;
  width: 100vw;
  background-color: lightgreen;
  font-size: 1.1rem;
}
/* header section {
  margin: 0 auto;
  width: 40%;
} */

/* header section label {
  float: left;
  line-height: 50px;
  font-size: 20px;
} */
header form {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
header #add_list {
  margin-top: 20px;
  width: 50%;
  height: 40%;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 1px 0 black;
  font-size: 18px;
  text-indent: 10px;
  border: 1px solid #ccc;
  outline: 0;
  text-decoration: none;
}

/* h1 {
  position: relative;
  display: flex;
} */

/* h1 span { */
/* position: absolute; */
/* top: 1px;
  right: 5px;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 23px;  */
/*创建圆形标记*/
/* line-height: 23px;
  font-size: 18px;
  text-align: center;
  background: #e6e6fa; */
/* }  */

div.content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

div.list {
  position: relative;
  font-weight: bold;
}

#todocount,
#donecount {
  position: absolute;
  right: 0;
}

li {
  position: relative;
  /* display: flex; */
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px;
  height: 32px;
  box-shadow: 0 1px 0 black;
  line-height: 32px;
  background-color: burlywood;
  list-style: none;
}

ol li .box {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 20px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
}

ol li a {
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  border: 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 32px;
  line-height: 10px;
  font-weight: bolder;
  cursor: pointer;
  background-color: gray;
}

ol li span {
  margin-left: 30px;
  color: green;
}

#clear {
  width: 60%;
  display: flex;
  justify-content: center;
}

#clearbutton {
  /* border-color: red; */
  border-radius: 5px;
  /* box-shadow: 0 1px 0 yellow; */
  cursor: pointer;
  box-shadow: none;
  border: 1px solid #ccc;
}

#clearbutton:hover {
  outline: 0;
  border: 2px solid lightgreen;
  background: #ccc;
}
